# Последовательности: списки и кортежи

# Списки (list)

Давайте представим, что при написании программы нам нужно работать, например, с большой базой данных студентов университета.

Если студентов несколько сотен, нет смысла создавать для каждого отдельную переменную - нам нужно научиться сохранять их всех в одной переменной. Начиная с этого занятия, мы будем изучать типы данных, которые позволяют это делать.

Начнем мы со **списков**. Если вы изучали другие языки программирования, то наверняка знакомы с аналогичным типом данных - массивами. Как и строки, списки - это последовательности, упорядоченные данные.

Давайте для начала попробуем создать список из 3 студентов.

In [1]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students)
print(type(students))

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
<class 'list'>

In [3]:
lst = []
print(lst)

[]

Пустой список можно создать двумя способами - оператором [] и функцией list().

In [2]:
print([])
print(list())

[]
[]

In [6]:
a = list()
a

[]

Список может содержать любые данные - например, числа.  
Давайте создадим список оценок студента.

In [4]:
notes = [6, 5, 7, 5, 8]
print(notes)

[6, 5, 7, 5, 8]

Список может быть даже смешанным. Например, давайте сохраним в одном списке имя студента, его год рождения, средний балл, и логическую переменную, которая будет равна True, если студент учится на бюджете.

In [5]:
student1 = ['Ivan Ivanov', 1987, 7.5, True]
print(student1)

['Ivan Ivanov', 1987, 7.5, True]

Список может даже содержать другие списки.  
Давайте создадим еще одного студента по аналогии со student1 и положим этих двух студентов в еще один список.

In [21]:
student2 = ['Maria Smirnova', 1991, 7.9, False]
students = [student1, student2]
print(students)

[['Ivan Ivanov', 1987, 7.5, True], ['Maria Smirnova', 1991, 7.9, False]]

Элементы списков нумеруются, начиная с 0. Мы можем получить доступ к элементу списка по его индексу.

In [8]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students[0]) # первый элемент
print(students[1]) # второй элемент
print(students[-1]) # последний элемент

Ivan Ivanov
Tatiana Sidorova
Maria Smirnova

In [20]:
students[0][0]

'Ivan Ivanov'

Ксати, индексация работает и в строках. Там отдельными элементами являются символы.

In [23]:
x = 'слово'
print(x[0])
print(x[-1])

с
о

In [13]:
type(x[0])

str

In [25]:
students

[['Ivan Ivanov', 1987, 7.5, True], ['Maria Smirnova', 1991, 7.9, False]]

Мы можем узнать длину списка с помощью функции len() (работает и для строк).

In [24]:
print(len(students)) # количество элементов в списке students
print(len(x)) # количество символов в строке x

2
5

Но, в отличие от строк, список можно изменить.

In [27]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
students

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

In [29]:
students[0] = 'Ian Pile'
students

['Ian Pile', 'Tatiana Sidorova', 'Maria Smirnova']

In [30]:
string = 'ololololol'
string[1] = 'a'

TypeError: 'str' object does not support item assignment

Строки - неизменяемый тип данных, поэтому присвоение символа по индексу не сработает.

Еще одна операция, которая работает со всеми последовательностями - проверка на наличие элемента in и not in. Возвращает True или False.

In [31]:
students = ['Tatiana Sidorova', 'Ivan Ivanov', 'Maria Smirnova', 'Ivan Ivanov']
print('Ivan Ivanov' in students)

# n = [1,2,3,4]
# x = 500
# x in n
# print('Petr' not in students[2])
# print(2 in students)

True

In [36]:
'ah' not in 'gfshajk'

True

Способ расширить список - метод .append(), который добавляет аргумент в список в качестве последнего элемента.

In [45]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
a = [1,2,3]
b = [4,5,6]

a.extend(a)

In [52]:
lst.remove??

In [50]:
lst

[]

In [54]:
lst = [0, 1, 2, 3, 4, 'cat', 'dog','cat']

lst.append(5)
print(lst)


lst += [6] # эквивалентное append выражение
print(lst)

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5]
[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5, 6]

In [ ]:
lst+=[6]

lst = lst + [6]

Удалить элемент из списка можно с помощью метода .remove() (без возвращения удаленного элемента) или .pop (с возвращением удаленного элемента).

In [27]:
lst.remove??

In [26]:
lst.remove('cat') # аргумент - объект, который ходим удалить
lst.remove('cat') # аргумент - объект, который ходим удалить
print(lst)

[0, 1, 2, 3, 4, 'dog', 5, 6]

In [56]:
x = lst.pop(0)

0

In [58]:
lst.pop??

In [29]:
x = lst.pop() # аргумент - индекс объекта. Результат операции можно сохранить в переменную
print(lst)
print(x)

[1, 2, 3, 4, 'dog', 5]
0

In [59]:
lst.pop(1,2)

TypeError: pop expected at most 1 argument, got 2

Поиском в списках занимается метод .index(), который вернет индекс объекта, переданного в качестве аргумента.

In [61]:
lst.append('dog')

[1, 2, 3, 4, 'cat', 'dog', 'cat', 5, 6, 'dog', 'dog']

In [65]:
print(lst.index('dog'))

5

In [66]:
print(lst.count('dog'))

3

In [67]:

 # находим индекс объекта 'dog'
print(lst[lst.index('dog')]) # используем метод, возвращающий индекс, для обращения к объекту

dog

Если говорить еще о полезных методах, то это .count(), который подсчитывает количество элементов и .reverse(), который разворачивает список. Ниже еще отдельно поговорим о сортировке.

In [68]:
b = [1,2,3,4,5]
b.reverse()
b

[5, 4, 3, 2, 1]

In [108]:
 # считаем количество 'dog' в списке
lst.reverse() # разворачиваем список. Осторожно - метод меняет список!
print(lst)

1
[5, 'dog', 4, 3, 2, 1, 0]

Все методы списков [здесь](https://docs.python.org/3/tutorial/datastructures.html)

### Сортировки

Отдельно следует рассказать про метод **sort()**. Метод производит сортировку списка.
Задачи сортировки - очень распространены в программировании. 
В общем случае, они сводятся к выстроению элементов списка в заданном порядке.
В Python есть встроенные методы для сортировки объектов для того, чтобы программист 
мог не усложнять себе задачу написанием алгоритма сортировки. 
Метод **list.sort()** - как раз, один из таких случаев.

In [70]:
test_list = [5, 8, 1, 4, 3, 7, 2]
print(test_list)  # Элементы списка расположены в хаотичном порядке
test_list.sort()
print(test_list)  # Теперь элементы списка теперь расположены по возрастанию

[5, 8, 1, 4, 3, 7, 2]
[1, 2, 3, 4, 5, 7, 8]

In [73]:
sorted(['gdfdashjk', 'd', 'fdsgy', 'saf'])

['d', 'fdsgy', 'gdfdashjk', 'saf']

In [40]:
test_list.sort??

In [74]:
test_list.sort(reverse = True)

In [75]:
test_list

[8, 7, 5, 4, 3, 2, 1]

In [42]:
'abs'.upper()

'ABS'

In [80]:
lst = [1,2,3, 4,5, 55, 66, 567]
lst.sort(key = str)
lst

[1, 2, 3, 4, 5, 55, 567, 66]

In [81]:
lst

[1, 2, 3, 4, 5, 55, 567, 66]

In [82]:
lst.sort(reverse = True)

In [86]:
lst = sorted(lst)

In [88]:
lst

[1, 2, 3, 4, 5, 55, 66, 567]

In [51]:
x = ['ff','a','b','c','g','GG','!']
x.sort()
x

['!', 'GG', 'a', 'b', 'c', 'ff', 'g']

In [34]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Таким образом, метод **list.sort()** упорядочил элементы списка test_list
Если нужно отсортировать элементы в обратном порядке, то можно использовать именнованный параметр reverse.

In [19]:
test_list.sort(reverse=True)  # параметр reverse указывает на то, что нужно отсортировать список в обратном порядке
print(test_list)

[8, 7, 5, 4, 3, 2, 1]

Следует обратить внимание, что метод **list.sort()** изменяет сам список, на котором его вызвали. 
Таким образом, при каждом вызове метода "**sort()**", наш список "test_list" изменяется. 
Это может быть удобно, если нам не нужно держать в памяти исходный список. 
Однако, в противном случае, или же - в случае неизменяемого типа данных (например, кортежа или строки) - 
этот метод не сработает. В таком случае, на помощь приходит встроенная в питон функция **sorted()**

In [56]:
print(sorted(test_list))  # Сам список при сортировке не изменяется

[1, 2, 3, 4, 5, 7, 8]

In [89]:
sorted('gdfahjkas')

['a', 'a', 'd', 'f', 'g', 'h', 'j', 'k', 's']

Так как sorted() функция, а не метод, то будет работать и с другими типами данных.

In [90]:
print(sorted('something'))
sorted_letters = sorted('something')

'!!!!'.join(sorted_letters)

['e', 'g', 'h', 'i', 'm', 'n', 'o', 's', 't']

'e!!!!g!!!!h!!!!i!!!!m!!!!n!!!!o!!!!s!!!!t'

In [91]:
# print(sorted('something')) отсортирует буквы в строке, но выведет список
print(''.join(sorted('something'))) # с помощью метода join можно собрать отсортированную строку, чуть ниже подробнее про него

eghimnost

У функции sorted(), как и у метода list.sort() есть параметр key, 
с помощью которого можно указать функцию, которая будет применена к каждому элементу 
последовательности при сортировке.

In [99]:
test_string = 'A string With, upper AND lower cases, stutter'

In [101]:
print(sorted(test_string.split('K'))) # заглавные буквы получили приоритет над строчными

['A string With, upper AND lower cases, stutter']

In [20]:


print(sorted(test_string.split(), key=str.upper)) # все буквы были приведены к верхнему регистру, сортировка получилась по алфавиту

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']
['A', 'AND', 'cases', 'lower', 'string', 'upper', 'With']

# Кортежи (tuple)

Кортежи очень похожи на списки.

In [102]:
student = ('Ivan Ivanov', 2001, 7.5, True)
print(student)
print(type(student))

('Ivan Ivanov', 2001, 7.5, True)
<class 'tuple'>

In [104]:
student[0] = 1

TypeError: 'tuple' object does not support item assignment

Пустой кортеж можно создать с помощью оператора () либо функции tuple.

In [106]:
print(())
print(tuple())

()
()

In [105]:
x = tuple()
x

()

In [69]:
student

('Ivan Ivanov', 2001, 7.5, True)

Основное отличие кортежей от списков состоит в том, что кортежи нельзя изменять (да-да, прямо как строки).

In [71]:
student[1] = 2002

TypeError: 'tuple' object does not support item assignment

Списки и кортежи могут быть вложены друг в друга.  
Например, пусть в информации о студенте у нас будет храниться не его средний балл, а список всех его оценок.

In [107]:
student = ('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)
print(student)

('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)

In [47]:
student = ('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)
print(student)

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

Мы можем обратиться к элементу вложенного списка или кортежа с помощью двойной индексации.

In [110]:
student[2].append(100)

In [111]:
student

('Ivan Ivanov', 2001, [8, 10, 7, 9, 6, 100], True)

In [49]:
print(student[2][1]) # получили вторую оценку

7

Иногда бывает полезно обезопасить себя от изменений массивов данных и использовать кортежи, но чаще всего мы все-таки будем работать со списками.

# Опасность работы с изменяемыми типами данных

В работе со списками есть важный момент, на который нужно обращать внимание. Давайте рассмотрим такой код:

In [122]:
a = [1, 2, 3]

In [123]:
b = a

In [124]:
b = a.copy()

In [125]:
b[1] = 200

In [126]:
b

[1, 200, 3]

In [127]:
a

[1, 2, 3]

In [115]:
b[0] = 4

In [116]:
print(a)
print(b)

[4, 2, 3]
[4, 2, 3]

Почему так происходит?  
Дело в том, что переменная a ссылается на место в памяти, где хранится список [1, 2, 3]. И когда мы пишем, что b = a, b начинает указывать на то же самое место. То есть образуется два имени для одного и того же кусочка данных. И после изменения этого кусочка через переменную b, значение переменной a тоже меняется!

Как это исправить? Нужно создать копию списка a! В этом нам поможет метод .copy()

In [81]:
a = [1, 2, 3]
b = a.copy() # теперь переменная b указывает на другой список, который хранится в другом кусочке памяти
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

In [83]:
b = a[:]

Копию можно создавать и с помощью пустого среза

In [82]:
a = [1, 2, 3]
b = a[:] # по умолчанию берется срез от первого элемента до последнего, то есть копируется весь список a
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

In [61]:
a = [1, 2, 3]

[1, 2, 3]

Но не путайте изменение с присваиванием!

In [128]:
a = [1, 2, 3]

In [129]:
b = a

In [130]:
a = [4,5,6]

In [131]:
print(a)

[4, 5, 6]

In [132]:
print(b)

[1, 2, 3]

В примере выше переменная a была не изменена, а перезаписана, она начала указывать на другой список, хранящийся в другом месте памяти, поэтому переменная b осталась нетронута.

### Конкатенация списков и кортежей

На списках и кортежах определен оператор +. По аналогии со строками, он будет склеивать две части выражения.

Но складывать можно только данные одного типа, список с кортежом склеить нельзя.

In [134]:
print([1, 2] + [3, 4])
print((1, 2) + (3, 4))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [136]:
(1,2) *2

(1, 2, 1, 2)

In [133]:
print((1, 2) + [3, 4]) # а так нельзя

TypeError: can only concatenate tuple (not "list") to tuple

Но можно превратить список в кортеж, а потом сложить (или наоборот).

In [92]:
print(list((1, 2)) + [3, 4])
print((1, 2) + tuple([3, 4]))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [74]:
x = tuple()
x

()

# Методы .split(), .join(),  функция map(), вывод и ввод списков

При работе со списками довольно часто нам придется вводить их и выводить в отформатированном виде. Сейчас мы рассмотрим несколько методов, которые помогут сделать это в одну строку.

### Метод .split()

Метод строки .split() получает на вход строку-разделитель и возвращает список строк, разбитый по этому разделителю.

По умолчанию метод разбивает строку по пробелу

In [137]:
print('Hello darkness my old friend     !#$@%$^#         bhfdsajklfgdsajk'.split())

['Hello', 'darkness', 'my', 'old', 'friend', '!#$@%$^#', 'bhfdsajklfgdsajk']

In [138]:
print('Ночь. Улица. Фонарь. Аптека'.split('. '))

['Ночь', 'Улица', 'Фонарь', 'Аптека']

### Метод .join()

Метод .join() ведет себя с точностью до наоборот - он склеивает массив в строку, вставляя между элементами строку-разделитель.

In [139]:
print('-'.join(['8', '800', '555', '35', '35']))

8-800-555-35-35

### Функция map()

Функция map() берет функцию и последовательность и применяет эту функцию ко всем ее элементам (map() всегда будет ожидать от вас два аргумента).

Обратите внимание, чтобы увидеть результат работы этой функции надо дополнительно вручную преобразовать в список (или в кортеж, в зависимости от ваших целей).

In [96]:
print(map(bool, [9, 0, 8, -288, 998, 0])) # не совсем то, что надо
print(list(map(bool, 
               [9, None, 8, -288, 998, 0]))) # а теперь работает, каждое число преобразовалось в логическую переменную

<map object at 0x7ffd095df3d0>
[True, False, True, True, True, False]

### Ввод и вывод списков

Теперь мы можем быстро вводить и выводить списки, содержащие разные данные через разные разделители.

In [99]:
x = input().split()

3 4 5 6

In [100]:
x

['3', '4', '5', '6']

In [85]:
print('-'.join(list(map(int,input().split()))))

1 2 3 4

TypeError: sequence item 0: expected str instance, int found

In [24]:
phone = list(map(int, input().split())) # получаем строку, разбиваем по пробелу, сразу преобразуем все элементы в числа
print(phone)
print('-'.join(list(map(str, phone)))) # преобразуем массив чисел в массив строк и склеиваем через дефис

[8, 913, 899, 99, 99]
8-913-899-99-99

Также, если нет задачи сохранить результат в переменную в виде строки, вместо join() можно использовать распаковку. 
Мы ставим оператор * перед списком, и, например, функция print() будет воспринимать его не как список, а как последовательность объектов.

In [51]:
print(phone, sep='-') # не работает, получили список
print(*phone, sep='-') # теперь сработало. По сути, распакованный список питон видит как в примере ниже
print(phone[0], phone[1], phone[2], phone[3], phone[4], sep='-')

[8, 913, 899, 99, 99]
8-913-899-99-99
8-913-899-99-99